body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 72px;
    text-align: center;
    text-decoration-line: underline;
    text-shadow: 8px 6px 4px red;
    ;
    text-decoration-thickness: 3px;
}

.p {
    font-size: 32px;
    color: rgb(0, 0, 0);
    padding: 20px;
}

ul {
    background-color: lightcyan;
    border-color: black;
    border-style: double;
    border-radius: 30px;
    text-shadow: 8px 6px 4px red;
    
}

button {
    border-radius: 45px;
    border-style: double;
    width: 100px;
    height: 30px;
}